@charset "UTF-8";
ul {
  list-style: none; }

/* 定义字体图标 */
* {
  padding: 0;
  margin: 0; }

* {
  padding: 0;
  margin: 0; }

html, body {
  width: 100%;
  height: 100%; }

html {
  font-size: 100px; }

body {
  font-family: "Arial","Microsoft YaHei","����","����",sans-serif; }

.Reserve_mark {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate3d(0, 100%, 0);
  transition: transform 1s;
  z-index: 333;
  overflow: hidden; }
  .Reserve_mark.Reserve_active_d {
    transform: translate3d(0, 0, 0); }
  .Reserve_mark.Reserve_active {
    transform: translate3d(0, 0, 0); }
  .Reserve_mark .r_main {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px; }
  .Reserve_mark .Reserve_sec {
    background: #ffffff; }
    .Reserve_mark .Reserve_sec .information {
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex;
      display: -ms-flexbox;
      display: flex;
      padding-top: .15rem;
      margin: 0 .15rem; }
      .Reserve_mark .Reserve_sec .information dt {
        width: .7rem;
        height: .7rem;
        font-size: 0; }
        .Reserve_mark .Reserve_sec .information dt img {
          width: 100%;
          height: 100%; }
      .Reserve_mark .Reserve_sec .information dd {
        -ms-flex: 1;
        flex: 1;
        margin-left: .15rem;
        position: relative; }
        .Reserve_mark .Reserve_sec .information dd span {
          display: -moz-flex;
          display: -o-flex;
          display: -ms-flex;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          font-size: .16rem; }
          .Reserve_mark .Reserve_sec .information dd span:nth-child(1) {
            color: #333333;
            margin: .02rem 0; }
          .Reserve_mark .Reserve_sec .information dd span:nth-child(2) {
            color: #FA8F25;
            margin-bottom: .02rem; }
          .Reserve_mark .Reserve_sec .information dd span:nth-child(3) {
            width: .38rem;
            font-size: .14rem;
            background: #FA8F25;
            color: #ffffff;
            text-align: center;
            border-radius: 0.02rem;
            line-height: .2rem; }
        .Reserve_mark .Reserve_sec .information dd .p_fixed {
          color: #999999;
          font-size: .2rem;
          position: absolute;
          top: .02rem;
          right: 0px; }
    .Reserve_mark .Reserve_sec .describe {
      margin-top: .15rem; }
      .Reserve_mark .Reserve_sec .describe .d_tag {
        margin: 0 .12rem; }
        .Reserve_mark .Reserve_sec .describe .d_tag li {
          padding-left: 0.1rem;
          font-size: .16rem;
          height: .5rem;
          line-height: .5rem;
          border-top: 1px solid #DCDDE1;
          box-sizing: border-box; }
          .Reserve_mark .Reserve_sec .describe .d_tag li span:nth-child(1) {
            display: inline-block;
            width: 0.1rem;
            height: .1rem;
            border-radius: 100%;
            background: #D7D7D7; }
          .Reserve_mark .Reserve_sec .describe .d_tag li span:nth-child(2) {
            margin-left: .1rem;
            color: #989898; }
          .Reserve_mark .Reserve_sec .describe .d_tag li span:nth-child(3) {
            float: right;
            color: #353535; }
  .Reserve_mark .Reserve_foot {
    width: 100%;
    font-size: .18rem;
    height: .44rem;
    background: #23AEF1;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex; }
    .Reserve_mark .Reserve_foot span {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      color: #FFFFFF;
      line-height: .44rem;
      text-align: center;
      font-weight: 500; }
